[Unit]
Description=Robot Control service
After=network.target

[Service]
ExecStart=/usr/bin/python -u robotCtrl.py
WorkingDirectory=/home/pi/sftp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target